[submodule "third_party/diff-gaussian-rasterization"]
	path = third_party/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "third_party/simple-knn"]
	path = third_party/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "third_party/SIBR_viewers"]
	path = third_party/SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
